{% extends "main/base.html" %}

{% block title %}
Join or start viewing party
{% endblock %}

{% block content %}
<h1>Join an existing viewing party or start a new one</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="/join">
  {% csrf_token %}
  <label for="party-code">Code</label>
  <input id="party-code" name="party_code" />
  <input type="submit" value="Join viewing party" />
</form>
<form method="post" action="/start">
  {% csrf_token %}
  <input type="submit" value="Start new viewing party" />
</form>
{% endblock %}
